---
import SelectMovie from "src/components/SelectMovie.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Spookards">
  <main class="space-y-8">
    <div class="rounded-lg border border-red-600 bg-red-600/50 p-6 text-center">
      <p class="text-balance font-mona text-xl text-red-300">
        Bienvenido a <strong>Spookards</strong>, la aplicación para crear
        postcards de terror con las citas de tus películas favoritas.
      </p>
    </div>

    <SelectMovie />
  </main>
</Layout>
