---
import { CldUploadWidget, CldImage } from "astro-cloudinary";
import Layout from "@/layouts/Layout.astro";
const params = Astro.params;
const id = params.id;
---

<Layout title="Spookards">
  <main class="space-y-8">
    <div
      class="rounded-lg border border-black/50 bg-black/30 px-6 py-6 text-center shadow-lg"
    >
      <h2 class="mb-4 font-mona text-xl text-red-400">
        Cita de la película <span id="movie" class="italic"></span>
      </h2>
      <blockquote id="blockquote" class="flex flex-col gap-4 text-center">
        <p class="text-balance font-mona text-xl text-red-300"></p>
        <hr class="w-full border-red-900" />
        <small class="text-balance font-mona text-xl text-red-300"> </small>
      </blockquote>
    </div>

    <div
      class="rounded-lg border border-black/50 bg-black/30 px-6 py-6 text-center shadow-lg"
    >
      <h2 class="mb-4 font-mona text-xl text-red-400">Ahora sube tu foto</h2>
      <CldUploadWidget
        id="upload-widget"
        uploadPreset="spookards-images"
        options={{
          sources: ["local", "camera"],
          multiple: false,
          maxFiles: 1,
          language: "es",
          text: {
            es: {
              or: "O",

              menu: {
                files: "Subir desde tu dispositivo",
              },
              local: {
                browse: "Seleccionar",
                dd_title_single: "Arrastra tu imagen aquí",
              },
            },
          },
        }}
      >
        <button
          color="brand"
          class="rounded-lg bg-red-500 px-3 py-2 text-2xl text-white transition hover:scale-110 hover:bg-red-700"
          >Subir imagen</button
        >
      </CldUploadWidget>

      <div id="photo-container" class="mt-8 place-content-center">
        <CldImage
          id="photo-image"
          src=""
          alt=""
          class={`flex h-full w-full rounded-lg opacity-0 transition`}
        />
      </div>
    </div>

    <div
      class="flex flex-col items-center gap-4 rounded-lg border border-black/50 bg-black/30 px-6 py-6 text-center shadow-lg"
    >
      <button
        id="postcard-btn"
        class="rounded-lg bg-red-500 px-3 py-2 text-2xl text-white transition hover:scale-110 hover:bg-red-700"
        >Generar postcard</button
      >
      <span id="error-img" class="hidden font-mona text-sm text-red-500"></span>
    </div>
  </main>
</Layout>
<script>
  import { getCldImageUrl } from "astro-cloudinary/helpers";
  import { navigate } from "astro:transitions/client";

  const photo = document.querySelector("#photo-image") as HTMLImageElement;
  const widget = document.querySelector("#upload-widget");
  const postcardBtn = document.getElementById("postcard-btn") as HTMLElement;

  const blockquote = document.getElementById("blockquote") as HTMLElement;
  const movie = document.getElementById("movie") as HTMLElement;
  const errorImg = document.getElementById("error-img") as HTMLElement;

  // get the array of quotes from local storage
  const quotes = JSON.parse(localStorage.getItem("quotes") || "[]");

  // transform quote to json
  //const quoteJson = quote ? JSON.parse(quote) : null;
  // get the last added quote
  const quoteJson = quotes.length > 0 ? quotes[quotes.length - 1] : null;

  if (!quoteJson) {
    blockquote.innerHTML = `<p>No se encontró la cita</p>`;
  } else {
    movie.innerText = quoteJson.movie;
    blockquote.innerHTML = `<p class="text-4xl text-white font-mona text-balance">${quoteJson.title}</p>
    <hr class="w-full border-red-900/30" />
    <small class="text-balance font-mona text-xl text-red-300">${quoteJson.author}</small>`;

    if (quoteJson.url) {
      photo.src = quoteJson.url;
      photo.classList.add("opacity-100");
    }
  }

  if (widget) {
    widget.addEventListener("clduploadwidget:success", ((
      e: CustomEvent<{
        info: { public_id: string };
      }>
    ) => {
      console.log("clduploadwidget:success", e.detail);
      const publicId = e.detail.info.public_id;
      showPhoto(publicId);
    }) as EventListener);
  }

  const showPhoto = (publicId: string) => {
    const url = getCldImageUrl({
      src: publicId,
      crop: { type: "auto", gravity: "face", source: true },
      width: 1280,
      height: 720,
      aspectRatio: "16:9",
    });

    photo.src = url;

    photo.onload = () => {
      photo.style.opacity = "1";
    };

    quoteJson.publicId = publicId;
    quoteJson.url = url;

    // Update the specific quote in the array if needed
    localStorage.setItem("quotes", JSON.stringify(quotes));
  };

  postcardBtn.addEventListener("click", () => {
    //navigate(`/${quoteJson.publicId}`);
    if (quoteJson && quoteJson.publicId) {
      navigate(`/${quoteJson.publicId}`);
    } else {
      errorImg.innerText =
        "Para poder generar el postcard debes subir una foto";
      errorImg.classList.remove("hidden");
    }
  });
</script>
