---

---

<footer class="mt-8 py-4 text-center">
  <p class="text-balance font-mona text-sm text-red-300">
    Spookards 2024 - created with <a
      href="https://astro.build"
      class="underline">Astro</a
    >, <a href="https://supabase.com" class="underline">Supabase</a>,
    <a href="https://cloudinary.com" class="underline">Cloudinary</a>, <a
      href="https://gemini.com"
      class="underline">Gemini</a
    > and much ♥️ by <a href="https://github.com/matiaspunx" class="underline"
      >Matias Punx</a
    >
  </p>
</footer>
