---
import IconGithub from "./icons/iconGithub.astro";
---

<footer class="mt-8 py-4 text-center">
  <p class="text-balance font-mona text-sm text-red-300">
    Spookards 2024 - creado con <a
      href="https://astro.build"
      target="_blank"
      rel="noopener noreferrer"
      class="underline">Astro</a
    >,
    <a
      href="https://cloudinary.com"
      target="_blank"
      rel="noopener noreferrer"
      class="underline">Cloudinary</a
    >, <a
      href="https://supabase.com"
      target="_blank"
      rel="noopener noreferrer"
      class="underline">Supabase</a
    >, <a
      href="https://gemini.com"
      target="_blank"
      rel="noopener noreferrer"
      class="underline">Gemini</a
    > y mucho ♥️ por <a
      href="https://github.com/matiaspunx"
      target="_blank"
      class="underline">Matias Punx</a
    >
  </p>
  <p
    class="mt-4 flex items-center justify-center gap-x-2 text-balance font-mona text-base text-red-100"
  >
    Repositorio de código abierto en <a
      href="https://github.com/matiaspunx/spookards"
      target="_blank"
      rel="noopener noreferrer"
      class="group inline-flex items-center gap-x-1 underline hover:text-red-200"
      ><IconGithub class="transition group-hover:scale-110" /> GitHub</a
    >
  </p>
</footer>
