---

---

<header class="mt-8 py-4 text-center">
  <a href="/" class="group" id="logo">
    <h1
      class="mb-6 inline-flex -rotate-3 justify-center text-pretty text-center font-marker text-5xl font-bold shadow-2xl drop-shadow-2xl"
    >
      <span
        class="bg-gradient-to-r from-red-600 via-pink-600 to-red-900 bg-clip-text text-transparent"
        >Spookards</span
      ><span
        class="group-hover:translate-x-1 group-hover:translate-y-1 group-hover:rotate-3 group-hover:scale-110"
        >🔪</span
      >
    </h1>
    <audio id="cuchillo">
      <source src="/slashkut.mp3" type="audio/mpeg" />
    </audio>
  </a>
</header>
<script>
  const logo = document.getElementById("logo") as HTMLElement;
  logo.addEventListener("mouseover", () => {
    const cuchillo = document.querySelector("#cuchillo") as HTMLAudioElement;
    cuchillo.volume = 0.1;
    cuchillo.play();
  });
</script>
