---
import Layout from "@/layouts/Layout.astro";
import { CldImage } from "astro-cloudinary";
---

<Layout title="Spookards">
  <main class="breackout space-y-8">
    <div id="photo-container" class="mt-8 place-content-center">
      <CldImage
        id="photo-image"
        src=""
        alt=""
        class={`flex h-full w-full rounded-lg opacity-0 transition shadow-lg`}
      />
    </div>
    <div>
      <h4>Compartí esta imagen con tus amigos</h4>
      <a
        href="/postcard/generate"
        class="rounded-lg bg-red-500 px-3 py-2 text-white">Generar postcard</a
      >
    </div>
  </main>
</Layout>

<script>
  import { getCldOgImageUrl } from "astro-cloudinary/helpers";
  const photo = document.querySelector("#photo-image") as HTMLImageElement;
  // get quote from local storage
  const quote = localStorage.getItem("quote");
  // transform quote to json
  const quoteJson = quote ? JSON.parse(quote) : null;

  console.log(quoteJson);

  const url = getCldOgImageUrl({
    src: quoteJson.publicId,
    replaceBackground: `a terrifying halloween background from the horror movie ${quoteJson.movie_en}`,
    replace: {
      to: `transform into a monster or creature from the movie ${quoteJson.movie_en}`,
      from: "people",
      preserveGeometry: true,
    },
    overlays: [
      {
        publicId: quoteJson.publicId,
        width: 1280,
        height: 720,
        crop: "fill",
        effects: [{ opacity: 0 }],
      },
      {
        width: 1200,
        crop: "fit",
        text: {
          color: "white",
          fontFamily: "Merriweather",
          fontSize: 50,
          fontWeight: "bold",
          lineSpacing: 10,
          text: quoteJson.title,
        },
        position: {
          x: 50,
          y: 130,
          gravity: "south_west",
        },
      },
      {
        publicId: quoteJson.publicId,
        width: 1200,
        height: 2,

        effects: [
          {
            colorize: "100,co_white",
            opacity: 70,
          },
        ],
        position: {
          x: 50,
          y: 100,
          gravity: "south_west",
        },
      },
      {
        crop: "fit",
        width: 1000,
        text: {
          color: "white",
          fontFamily: "Lato",
          fontSize: 30,
          fontWeight: "bold",
          text: `${quoteJson.author} (${quoteJson.movie_en})`,
        },
        position: {
          x: 50,
          y: 50,
          gravity: "south_west",
        },
      },
      {
        text: {
          color: "white",
          fontFamily: "Lato",
          fontSize: 23,
          fontWeight: "normal",
          text: "created with @spookards",
          letterSpacing: 0,
        },
        effects: [
          {
            colorize: "100,co_white",
            opacity: 50,
          },
        ],
        position: {
          x: 20,
          y: 20,
          gravity: "south_east",
        },
      },
    ],
  });

  photo.src = url;

  photo.onerror = (error) => {
    photo.style.opacity = "0";
    console.log("Error al generar la imagen", error);
    return error;
  };

  photo.onload = () => {
    photo.style.opacity = "1";
  };
</script>
