---
//import { ViewTransitions } from "astro:transitions";
import Footer from "@/components/Footer.astro";
import Header from "src/components/Header.astro";
import SEO from "@/components/SEO.astro";

interface Props {
  title: string;
  description?: string;
  canonical?: string;
  image?: string;
}

const {
  title,
  description = "Spookards las mejores postcards de terror!",
  canonical,
  image,
} = Astro.props;
---

<!doctype html>
<html lang="es" class="overflow-x-hidden">
  <head>
    <SEO title={title} desc={description} canonical={canonical} image={image} />
  </head>
  <body
    class="selection:bg-primary selection:text-secondary [&_:focus-visible]:ring-primary [&_:focus-visible]:outline-none [&_:focus-visible]:ring-2"
  >
    <div class="content-grid">
      <Header />
      <slot />
      <Footer />
    </div>
  </body>
</html>
<style is:global>
  @font-face {
    font-family: "Marker";
    src: url(/fonts/AtomicMarker.woff2) format("woff2");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "Marker2";
    src: url(/fonts/PermanentMarker-Regular.ttf) format("truetype");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "Emojis";
    src: url(/fonts/NotoColorEmoji-Regular.ttf) format("truetype");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "Mona";
    src: url(/fonts/Mona-Sans.woff2) format("woff2");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
  }
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #13151a;
    background-image: url(/noise-extra.webp), url(/bg3.avif);
    background-size: 400px, contain;
    background-attachment: inherit, fixed;
    background-repeat: repeat, no-repeat;
    background-blend-mode: overlay, color-dodge;

    min-height: 100vh;

    scroll-behavior: smooth;
    scrollbar-gutter: stable;
  }

  /* content grid */
  .content-grid {
    --padding-inline: 2rem;
    --content-max-width: 80ch;
    --breackout-max-width: 100ch;
    --breackout-size: calc(
      (var(--breackout-max-width) - var(--content-max-width)) / 2
    );

    display: grid;
    grid-template-columns:
      [full-width-start] minmax(var(--padding-inline), 1fr)
      [breackout-start] minmax(0, var(--breackout-size))
      [content-start] min(
        100% - (var(--padding-inline) * 2),
        var(--content-max-width)
      )
      [content-end]
      minmax(0, var(--breackout-size)) [breackout-end]
      minmax(var(--padding-inline), 1fr) [full-width-end];
  }

  .content-grid > :not(.breackout, .full-width) {
    grid-column: content;
  }

  .content-grid > .breackout {
    grid-column: breackout;
  }

  .content-grid > .full-width {
    grid-column: full-width;
  }
  /* end content grid */

  .img-overlay {
    border-image: fill 0 linear-gradient(#0003, #000);
  }

  @supports selector(::-webkit-scrollbar) {
    ::-webkit-scrollbar {
      width: 10px;
      border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      /* background-color: theme("colors.primary"); */
      background-color: #33333390;
      border: 2px solid transparent;
      background-clip: content-box;
    }

    ::-webkit-scrollbar-thumb:active {
      background-color: #666;
    }

    ::-webkit-scrollbar-track {
      background: var(--background-image);
    }

    ::-webkit-scrollbar-corner {
      background: var(--background-image);
    }
  }

  @supports not selector(::-webkit-scrollbar) {
    * {
      scrollbar-color: #000 transparent;
      scrollbar-width: thin;
    }
  }
</style>
